
.btnRadio{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: .4rem;  
}



.radio{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    
}

.radiosThree{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.TextoLabel{
    font-size: 18px;
    /* color: #F5620E; */
    font-weight: 600;
}