@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --poppins: font-family: 'Poppins', sans-serif; 
    --itim:   font-family: 'Itim', cursive;
}

/* CABEÇALHO */

.cabecalho {
    height: 35%;
  }
  
  .imgBack {
    background-color: white;
    height: 22%;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  
  .imgBack img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 58%;
  }
  
  .foto-perfil {
    width: 200px;
    height: 200px;
    border-radius: 360px;
    position: relative;
    margin-left: 60px;
    top: 25%;
    z-index: 1;
  }
  
  .foto-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 360px;
  }
  
  
  
  .conteudoPerfil{
    position: relative;
    margin-left: 300px;
    bottom: 40px;
    width: 400px;
  }
  
  .rowPerfil{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    align-items: center;
  }

  .rowPerfil h1{
    font-size: 35px;
    font-weight: 600;
     font-family: var(--poppins);
  }
  
  .editarPerfil{
    width: 120px;
    height: 30px;
    border: 2px solid #F5620E;
    border-radius: 10px;
    color: #F5620E;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .editarPerfil:hover{
    background-color: #F5620E;
    color: #f0f0f0;
  }

  .email{
    font-size: 20px;
    margin: 0;
    font-family: var(--poppins);
  }

.numeroPulicacoes{
    font-family: var(--poppins);
    font-size: 20px;
}


  /* CARDS */

.PerfilCard{
    width: 90%;
    margin: 0;
    margin-top: 25px;
    border-radius: 20px;
}

.PerfilCard img{
    width: 100%;
    height: 250px;
}

.CardConteudo{
    width: 100%;
    padding: 10px;
    background-color: #D9D9D9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.btnPerfil-editar{
    background: transparent;
    border: 1px solid #589F7D;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    font-size: 12px;
}

.btnPerfil-editar:hover{
    background: #589F7D;
    color: #fff;
}

.PerfilCard h3{
    font-size: 12px;
    color: #636363;
    font-family: var(--poppins);
    margin: 0;
    font-weight: 600;
}

.PerfilCard h4{
    font-size: 18px;
    font-family: var(--itim);
    height: 10px;
}

.PerfilCard p {
    font-size: 12px;
    font-family: var(--poppins);
    margin-top: 5px;
    font-weight: 600;
}