.main {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    border: 3px solid red;
    margin-top: 2%;
    z-index: 2rem;
}

.imgBack {
    background-color: white;
    height: 50%;
    width: 3%;
    margin-top: 0;

}