.aprender{
    height: 90vh;
    width: 100vw;
    padding-top: 9rem;
    display: flex;
    flex-direction: row;
}

.lado1{
    height: 58vh;
    width: 50vw;
    border: 3px solid red;
}

.lado2{
    height: 58vh;
    width: 50vw;
    border: 3px solid blue;
}