.aprender{
    height: auto;
    width: auto;
    padding-top: 9rem;
    padding-bottom: 9rem;
    display: flex;
    flex-direction: column;
}

.topo{
    display: flex;
    height: 70vh;
    width: 98.5vw;
}

.lado1{
    height: 67vh;
    width: 50vw;
}

.lado2{
    height: 67vh;
    width: 50vw;
    display: flex;
    justify-content: flex-end;
}

.lado2 img{
    height: 67vh;
}

.iconsAprender{
    height: 8vh;
    display: flex;
    flex-direction: row;
}

.cardsAprender{
    height: 285vh;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quebra{
    flex-basis: 100%;
    height: 7vh;
}