
.pets{
    background-color:#F1F1F1;
    width: 37%;
    height: 240px;
    border-radius: 13px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 8px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}

#imgpets{
    height: 220px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.esquerdo8{
    width: 50%;
    height: 220px;
}

.direito8{
    width: 50%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.direito8 h2{
    color: #F5620E;
    text-align: center;
    font-family: 'Itim';
    font-size: 25px;
}
.direito8 li{
    font-size: 19px;
    font-weight: 500;
}

.direito8 p{
    color: black;
    padding-left: 7px;
}

#butao{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 8px;
}

ul{
    list-style-type: none;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    font-weight: 600;
}

li{
    padding: 0;
    font-size: 20px;
}

#anuncio-seta{
    color: #589F7D;
    font-size: 22px;
}