.barraConteudo {
    width: 68vw;
    height: 15vh;
    background-color: rgb(237, 237, 237);
    margin-left: 9%;
    border-radius: 26px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.circulo {
    width: 300px;
    height: 300px;
    margin: 20px;
    clip-path: circle();
    background: white;
    border: 2px solid orange;
}