.cadastroPet{
    background: url('../../img/background-conhecer.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.conteudoPet{
    height: 95%;
    width: 60%;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.315), 0 6px 20px 0 rgba(0, 0, 0, 0.315);
}

.parteCima{
    height: 18%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parteCima img{
    height: 95%;
    width: 25%;
    
}

.parteBaixo{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.esquerdoPets{
    height: 100%;
    width: 50%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.direitoPets{
    height: 100%;
    width: 50%;
    padding-left: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divSeta{
    position: absolute;
    top: 15px;
    left: 50px;

    z-index: 5;
}

.divSeta img{
    cursor: pointer;
    width: 45px;
}

.divBotao{
    display: flex;
    justify-content: center;
}

.divBotao button{
    background-color: #F5620E;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    color: #F1F1F1;

}

.divBotao button:hover{
    background-color: #F1F1F1;
    color: #F5620E;
    border: 2px solid #F5620E;
}

#selectPet{
    border: 1px solid #F5620E;
    border-radius: 10px;
    width: 250px;
    height: 35px;
    background: transparent;
}

.tabela{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}