.pai{
    height: 150vh;
    display: flex;
    
    

}
.container_cadastro_pet{
    margin: 0 auto;
    background-color: #F0F0F0 !important;
	width: 70rem;
	height: 50rem;

    
    display: flex;
    justify-content: center;
    align-items: center;

    


}

.fundo{
    z-index: 0;
}


/* .elipse01{
    background: transparent;
    left: 0px;
    top: -100rem;
    z-index: -1;
}  */

.elipse02{
    background: transparent;
    position: absolute;
    right: 0;
    top: 150vh;
    z-index: -1;
}


.ImgInserir{
    background: transparent;
}

.divBoxinputs{
    background: transparent;
}.divBoxinputs label{
    background: transparent;
}