#bolalaranja{
    height: 58vh;
    width: 38vw;
}

#bolalaranja img{
    height: 370px;
    position: absolute;
}

#bolalaranja h2{
    position: absolute;
    padding-top: 120px;
    padding-left: 45px;
    color: #F1F1F1;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

#bolalaranja p{
    position: absolute;
    color: black;
    padding-left: 50px;
    padding-top: 190px
}

