.localizacao {
    background: url('../../img/background-conhecer.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;
    height: 100vh;
    text-align: center;

}

.divLocalizacao {
    height: 70vh;
    width: 90vw;
    margin-top: 2rem;
    margin-left: 4.5rem;
    display: flex;
    flex-direction: row;
}

.mapa {
    height: 100%;
    width: 50%;

}

.map {
    flex: 1 1 45rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.opcaoMapa {
    background-color: rgb(0, 96, 75);
    width: 50%;
    height: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.opcaoMapa h2 {
    color: white;
    font-size: 26px;
    padding-top: 6px;

}

.opcaoMapa img {
    max-width: 70%;
    display: block;
}

.opcaoMapa p {
    color: white;
    font-size: 20px;
}




.imgMapa {
    align-items: center;
    justify-content: left;
    display: flex;
    float: left;
    flex-direction: row;
    width: 80%;
}

.opcao {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    
}
.opcao .lblRadio{
    margin-left: 10px;
    margin-right: 30px;
    color: #f1f1f1;
}
#ong-p{
    margin-right: 2rem;
}
.rd{
    margin-right: 2rem;
}
.lblVet{
    position: relative;
    right: 1.5rem;
    color: #f1f1f1;
}

.divMap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}