.footer {
    height: 55vh;
    width: auto;
    background-color: #F1F1F1;

    border-top: 1px solid gray;
}

#conteudo-footer {
    display: flex;
    flex-direction: row;
}

.esquerdo7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 58.34vw;
    padding-left: 70px;
    padding-top: 90px;
}

.esquerdo7 p {
    font-weight: 600;
}

.direito7 {
    height: 50vh;
    width: 41.34vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-left: 10px;
}

/* Parcerias */

.paginas {
    display: flex;
    flex-direction: column;
    width: 24.64vw;
    justify-content: flex-end;
    color: black;
    align-items: start;
    padding-left: 20px;
    border-left: 2px solid black;
    height: 190px;
}

.imagens-parceria {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    color: #F5620E;
    font-weight: 600;
}

#imgParcerias1 {
    width: 35%;
}

#imgParcerias2 {

    width: 35%;

}

/* Redes */
.redes {
    display: flex;
    flex-direction: column;
    width: 24.64vw;
    justify-content: flex-end;
    padding-bottom: 35px;
    color: #F5620E;
    align-items: start;
    padding-left: 20px;
    border-left: 2px solid black;
    height: 190px;
}
.aotodo{
    position: relative;
    top: 15px;
}

.git {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#git {
    height: 30px;
    width: 30px;
    margin-bottom: 29px;
}

.git a {
    color: #010101;
}

.insta {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#insta {
    height: 30px;
    width: 30px;
    margin-bottom: 29px;
}

.insta a {
    color: #010101;
}

.linktree {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#linktree {
    height: 30px;
    width: 30px;
}

.linktree a {
    color: #010101;
}