#inputCalc {
    background-color: transparent;
    border: 1px solid orangered;
    width: 10rem;



}

.inputCalc {
    text-align: center;
    color: orangered;
    display: flex;
    flex-direction: row;
}