.card{
    width: 25vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}

.linhaCard{
    display: flex;
    justify-content: space-between;
}

#imagem{
    height: 45vh;
}

.card h2{
    font-family: 'itim';
}

.card p{
    font-family: 'Poppins', sans-serif;
}

