.scCalculadora {
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    padding-top: 16rem;
    text-align: center;
}

.scCalculadora h1 {
    font-size: 3rem;
}

.calculadoras {
    height: 95rem;
    width: 100%;
    background-color: darkgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 6rem;
}



