#Calculadora {
    height: auto;
    padding-top: 10rem;
    text-align: center;
    padding-bottom: 2rem;
}
.GatoCachorro{
    display: flex;
    flex-direction: row;
}
.ctCachorro{
    width: 48vw;
    background-color: #f1f1f1;
    border-radius: 20px;
    margin-left: 1vw;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ctGato{
    width: 48vw;
    background-color: #f1f1f1;
    border-radius: 20px;
    margin-left: 1vw;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#title{
    font-family: 'Itim';
}
.tituloGC{
    display: flex ;
    flex-direction: row;
    padding: 10px;
}
.tituloGC h5{
    font-family: 'Poppins';
    color: #010101;
    margin-left: 10px;
    margin-top: 10px;
}
.gAdotar{
    width: auto;
}
.gAdotar h4{
    margin-right: 60% !important;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Poppins';
}
#lblPorte{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#lblPorte h6{
    margin-right: 15px;
}
#lblPorte label{
    margin-right: 15px;
    margin-left: 5px;
}

.conteudoAdotar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.labels{
    font-family: 'Poppins';
    font-size: 13px;
    color: #F5620E;
    font-weight: bold;
    padding: 13px;
}
.labels2{
    font-family: 'Poppins';
    font-size: 13px;
    color: #F5620E;
    font-weight: bold;
    padding: 7px;
}

.gMensal{
    width: auto;
}
.gMensal h4{
    margin-right: 60% !important;
}

.rodape{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.rodape h6{
    padding: 5px;
}